body {
    background-color: #90a3b9
}

button {
    padding: 5px;
    margin: 5px;
    border: 2px solid;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border: 2px solid;
    border-color: black;
}

th {
    font-weight: bold;
    font-size: 14pt;
}

tr:nth-child(even) {
    background-color: #2daadb;
}

tr:nth-child(odd) {
    background-color: #50c6f5;
}

thead th {
    background-color: #21b987;
}

.raw-results {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* highlighted run time or score */
.highlight {
    background-color: #fffb0069
}
