body {
	font-family: Lucida Console,Courier,mono;
	font-size: 300%;
	color: #FFFFFF;
	background-color: #000000;
}

a {
	font-size: 200%;
	color: lime;
	text-decoration: undeline;
}

	a:hover, a:active {
		color: orange;
		text-decoration: none;
	}


h1, h2, h3 {
	font-family: sans-serif;
	color: orange;
	text-align: center;
}
